@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap');

@media (min-width: 1024px) {
    body{
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Monoton', sans-serif;
        background-color: black;

        display: flex;
        flex-direction: row;
        flex-shrink: 0;
    }

    .logo{
        display: flex;
        width: 65vw;
        height: 100vh;
        justify-content: center;
        align-items: center;

    }

    .logo h1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

        font-size: 80px;
        font-weight: 200;
        color: limegreen;
    }

    form {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: auto;
        padding: 20px;
        justify-content: center;

        background-color: #222222;
        width: 20vw;
        height: 60vh;
        border: 1px rgb(42, 173, 42) solid;
        border-radius: 10px;
    }
    form > h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: limegreen;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        margin: 20px;
        padding: 0;
    }
    form > input {
        background-color: #32332e;
        border: none;
        border-radius: 5px;
        margin: 10px;
        padding: 0;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;

        font-size: 15px;
        color: white;
        height: 10%;
    }
    form > input:focus{
        outline: limegreen 1px solid;
    }

    form > button#signup {
        display: inline-block;
        margin-top: auto;
        position: relative;
        left: 10px;
        width: calc(100% - 20px);
        height: 15%;
        
        appearance: button;
        background-color: green;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        outline: none;
        overflow: visible;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    form > button#signup::after {
    background-clip: padding-box;
    background-color: limegreen;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    }

    form > button#signup:focus{
        outline: wheat 3px solid;
    }
    form > button#signup:focus:active{
        outline: none;
    }

    form > button#signup:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    }

    form > button#signup:disabled {
    cursor: auto;
    }

    form > button#signup:active {
    border-width: 4px 0 0;
    background: none;
    }

    form > .bottom{
        display: flex;
        position: relative;
        bottom: 0;
        left: -20px;
        bottom: -20px;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        margin-top: auto;

        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        width: 100%;
        height: 10%;
        background-color: #181818;
        padding: 20px;
    }
    form > .bottom > label{
        display: flex;
        text-align: center;
        justify-content: center;
        
        color: limegreen;
        font-weight: 100;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        border: 0;
        padding: 0;
        margin: 0;
    }
    form > .bottom > a{
        background-color: #181818;
        color: #009fd9;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        border: none;
        font-size: 15px;
    }
    form > .bottom > a:hover {
        color: #4dc3ea;
        cursor: pointer;
    }

    body > .smal-text{
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        
        margin: 0;
        padding: 0;
        width: 100%;
        height: 30px;
        font-weight: 100;
        
        font-family: "Roboto", sans-serif;
        background-color: #222222;
        color: white;
    }
    body > .smal-text > a{
        text-decoration: none;
        color: limegreen;
    }

}

@media (max-width: 1024px) {
    body{
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Monoton', sans-serif;
        background-color: black;

        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    .logo{
        display: flex;
        width: 100vw;
        height: 30vh;
        justify-content: center;
        align-items: center;

    }

    .logo h1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

        font-size: 40px;
        font-weight: 200;
        color: limegreen;
    }

    form {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: auto;
        padding: 20px;
        justify-content: center;

        background-color: #222222;
        width: 80vw;
        height: 60vh;
        border: 1px rgb(42, 173, 42) solid;
        border-radius: 10px;
    }
    form > h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: limegreen;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        margin: 20px;
        padding: 0;
    }
    form > input {
        background-color: #32332e;
        border: none;
        border-radius: 5px;
        margin: 10px;
        padding: 0;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;

        font-size: 15px;
        color: white;
        height: 10%;
    }
    form > input:focus{
        outline: limegreen 1px solid;
    }

    form > button#signup {
        display: inline-block;
        margin-top: auto;
        position: relative;
        left: 10px;
        width: calc(100% - 20px);
        height: 15%;
        
        appearance: button;
        background-color: green;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        outline: none;
        overflow: visible;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    form > button#signup::after {
    background-clip: padding-box;
    background-color: limegreen;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    }

    form > button#signup:focus{
        outline: wheat 3px solid;
    }
    form > button#signup:focus:active{
        outline: none;
    }

    form > button#signup:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    }

    form > button#signup:disabled {
    cursor: auto;
    }

    form > button#signup:active {
    border-width: 4px 0 0;
    background: none;
    }

    form > .bottom{
        display: flex;
        position: relative;
        bottom: 0;
        left: -20px;
        bottom: -20px;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        margin-top: auto;

        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        width: 100%;
        height: 10%;
        background-color: #181818;
        padding: 20px;
    }
    form > .bottom > label{
        display: flex;
        text-align: center;
        justify-content: center;
        
        color: limegreen;
        font-weight: 100;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        border: 0;
        padding: 0;
        margin: 0;
    }
    form > .bottom > a{
        background-color: #181818;
        text-decoration: none;
        color: #009fd9;
        border: none;
        font-size: 15px;
    }
    form > .bottom > a:hover {
        color: #4dc3ea;
    }

    body > .smal-text{
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        
        margin: 0;
        padding: 0;
        width: 100%;
        height: 30px;
        font-weight: 100;
        
        font-family: "Roboto", sans-serif;
        background-color: #222222;
        color: white;
    }
    body > .smal-text > a{
        text-decoration: none;
        color: limegreen;
    }
}